:root{
	--white: #FFFFFF;
	--light-gray: #dcdcdc;
	--font-smooth: #707070;
	--button-color: #BBBBBB;
	--title-font: #2B2B2B;
	--body-font: #2B2B2B;
	--footer-gray: #F7F7F7;
	--primary-green: #2A652E;
	--olive-green: #446740;
	--correct: #1FE41B;

	--main-clr: #446740;

	/*Tehno colors*/
	--js: #F7DF1E;
	--js2: #e4cb02;
	--xd: #FF26BE;
	--py: #2D689B;
	--vue: #54CF97;
	--html: #FF6C39;
	--css: #71B2DE;
	--angular: #DD0031;
	--ionic: #4689FE;
	--flask: #CBCBCB;
	--postgre:#336791;
	--node:#83cd29;
	--nginx: #00A03D;

	/*Shadow*/
	--shadow: 2px 4px 15px 2px rgba(126, 126, 126, 0.2);
	--fit-shadow: 0px 2px 5px 1px rgba(126, 126, 126, 0.2);
}


@font-face {
    font-family: 'larsseit';
    src: url('font/larsseit-webfont.woff2') format('woff2'),
         url('font/larsseit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'larsseit';
    src: url('font/larsseit_bold_bold-webfont.woff2') format('woff2'),
         url('font/larsseit_bold_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	font-family: 'larsseit', sans-serif;
	background-color: var(--white);
	width: 100%;
}

a{
	color: var(--body-font);
	text-decoration: none;
}

.bold {
	font-weight: bold;
}

#cover {
	height: 100vh;
	margin-bottom: 15rem;
}

.back-home {
	border: none;
	padding: .4rem .7rem;
	background-color: var(--main-clr);
	color: white;
	border-radius: 5px;
	margin: .5rem 1rem;
	cursor: pointer;
}
.back-home a {
	color: white;
}

#portfolio {
	height: 85%;
	background: url('img/bg-img.png') no-repeat;
	background-size: cover;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

#portfolio h1 {
	color: var(--white);
	font-size: 3rem;
	position: absolute;
	top: 8vh;
	left: 5vw;
}

.social-head {
	display: flex;
	position: absolute;
	bottom: 15%;
	left: 0;
	list-style-type: none;
	padding-bottom: 1rem;
	margin-left: 2rem;
}
.social-head li {
	background: var(--white);
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1rem;
	transition: transform .4s cubic-bezier(0.87, 0, 0.13, 1);
}
.social-head li:hover {
	transform: scale(1.08);
}

.social-head a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.social-head img {
	width: 1.8rem;
	height: 1.8rem;
	object-fit: contain;
}

#sidePanel {
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

#sidePanel div:first-of-type {
	height: 70%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.name {
	font-size: 10vw;
	mix-blend-mode: screen;
	background-color: var(--white);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	text-indent: -20px;
}

.name:first-of-type {
	padding-top: 100%;
}

#sidePanel div:last-of-type {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: var(--white);
	height: 30%;
}
#sidePanel img{
	width: 100px;
	margin-left:4vw;
	margin-right: 2rem;
}

#sidePanel p {
	margin-left: 20px;
}

#scroll {
	height: 15rem;
	background-color: var(--light-gray);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	padding-top: 2rem;
}


#scroll img {
	width: 25px;
}




#skills h2, #project h2, #article h2 {
	font-size: 3rem;
	color: var(--title-font);
	margin-bottom: 4rem;
}

#article, #skills, #project {
	margin-bottom: 11rem;
	padding-left: 10vw;
	padding-right: 10vw;
	position: relative;
}

#skills section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.skillContainer {
	background-color: var(--light-gray);
	margin: 40px 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 1rem 1.5rem;
	border-radius: 25px;
	position: relative;
	-webkit-box-shadow: var(--shadow);
	        box-shadow: var(--shadow);
}
.skillContainer > img {
	height: 9.1rem;
	width: 9.1rem;
	object-fit: contain;
}

.skillContainer > p {
	font-size: 1.4rem;
	font-weight: bold;
	color: var(--white);
	margin: 2rem 0 1rem 0;
}

.skillContainer:hover .back{
	opacity: 1;
	pointer-events: all;
	-webkit-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	        transform: translateY(0px);
}

.back {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: var(--white);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 22px;
	padding: 1rem 0;
	opacity: 0;
	pointer-events: none;
	-webkit-transform: translateY(50px);
	    -ms-transform: translateY(50px);
	        transform: translateY(50px);
	-webkit-transition-duration: .5s;
	     -o-transition-duration: .5s;
	        transition-duration: .5s;
	-webkit-transition-timing-function: ease-in-out;
	     -o-transition-timing-function: ease-in-out;
	        transition-timing-function: ease-in-out;
} 

.percent {
	font-size: 4rem;
	font-weight: bold;
	margin: 1rem 0;
	position: relative;
	right: -10px;
}

.percent::after {
	content: '%';
	color: var(--font-smooth);
	font-size: 1.5rem;
	font-weight: 900;
	position: relative;
	right: -7px;
}

.back h3 {
	font-size: 1rem;
}

.back p {
	font-size: .8rem;
	width: 80%;
	text-align: center;
}

#project {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

#project .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.row > div:last-of-type {
	margin-top: 6rem;
}

.projectContainer {
	position: relative;
}

.projectContainer .visual{
	width: auto;
}
.projectContainer > div, .info > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.projectContainer .visual > img{
	border-radius: 7px;
	-webkit-box-shadow: var(--shadow);
	        box-shadow: var(--shadow);
	margin-bottom: 20px;
	width: 450px;
	cursor: pointer;
}


.projectContainer .visual:hover > img {
	-webkit-filter: brightness(85%);
	        filter: brightness(85%);
}

.projectContainer .visual:hover::after {
	content: 'Voir la description';
	max-width: 250px;
	color: var(--white);
	font-size: 1.5rem;
	text-align: center;
	font-weight: bold;
	position: absolute;
	top: 110px;
	left: 28%;
}


h3{
	font-size: 2rem;
}


b{
	opacity: .4;
	font-size: .9rem;
}

.projectContainer a{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
			align-items: center;
}

.projectContainer a img{
	margin-left: 10px;
	width: 19px;
}

#contact {
	height: 50vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: var(--light-gray);
}

#contact h2 {
	color: var(--font-smooth);
	font-size: 2.3rem;
}

#contact > div {
	height: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 2rem;
	position: relative;
}

#contact a {
	display: block;
	height: 100%;
}
#contact input {
	border: none;
	height: 100%;
	min-width: 280px;
	border-radius: 5px 0 0 5px;
	padding-left: 10px;
	font-size: 1.1rem;
	outline: none;
	color: var(--font-smooth);
}

#contact button {
	border: none;
	height: 100%;
	width: 40px;	
	background-color: var(--button-color);
	border-radius: 0 5px 5px 0;
}

#contact img {
	margin-top: 2px;
	width: 16px;
}

.copy {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 1.5rem;
	background-color: var(--button-color);
	width: 10%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-transition-duration: .7s;
	     -o-transition-duration: .7s;
	        transition-duration: .7s;
	border-radius: 5px 0 0 5px;
	color: var(--olive-green);
	font-weight: 900;
	font-size: 1.1rem;
}

.copy.final {
	width: calc(100% - 40px);
}

footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background-color: var(--footer-gray);
	padding: 2rem 3rem;
}

footer div, footer a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#social {
	display: flex;
	list-style-type: none;
}

#social img {
	margin: 0 1rem;
	width: 25px;
}

footer > div:last-of-type p{
	margin-right: 10px;
	color: var(--title-font);
}

.shape1, .shape2, .shape3 {
	background-color: var(--light-gray);
	position: absolute;
	height: 350px;
	z-index: -2;
}

.shape1 {
	top: 250px;
	right: 0;
	width: 60vw;
}

.shape2 {
	top: 250px;
	left: 0;
	width: 20vw;
}

.shape3 {
	bottom: 250px;
	right: 0;
	width: 10vw;
}


/*Détails des projets*/
dialog {
	background-color: var(--white);
	color: var(--body-font);
	border: none;
	padding: 2rem;
	border-radius: 15px;
	-webkit-box-shadow: var(--shadow);
	        box-shadow: var(--shadow);
	z-index: 9;
	max-width: 90vw;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

dialog::-webkit-backdrop {
  background: rgba(255, 255, 255, .5);
}

dialog::backdrop {
  background: rgba(255, 255, 255, .5);
}


#details main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-top: 20px;
}

main > section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
main > section:first-of-type {
	margin-bottom: 2rem;
}

.main-img {
	height: 100%;
}
.main-img img{
	width: 62vh;
	height: 100%;
	margin-right: 2rem;
	border-radius: 10px;
}

.info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	width: 100%;
}

.info > div {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	margin-bottom: 10px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.info > p {
	margin-top: 2vh;
	max-width: 500px;
	font-size: .9rem;
}
.info h2 {
	margin-top: 1rem;
	font-size: .9rem;
	font-weight: 900;
	margin-bottom: 1rem;
	opacity: .6;
}
.info h2 + div {
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.info a {
	color: #FFFFFF;
	outline: none;
	background-color: #2A652E;
	padding: .3rem .5rem;
	border-radius: 5px;
}

.info a img {
	margin-left: 8px;
	width: 15px;
}

.used {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.used img  {
	width: 75px;
}

.used p {
	font-size: .8rem;
}

.more {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.more img {
	width: 25vh;
	margin-right: 2rem;
	border-radius: 5px;
	cursor: pointer;
}


.more img:hover:not(.activate) {
	-webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	        transform: scale(1.05);
}

.more img.activate {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.more img, .main-img img {
	-webkit-box-shadow: var(--fit-shadow);
	        box-shadow: var(--fit-shadow);
}

.close {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 20px;
	right: 30px;
	cursor: pointer;
}

/*Colors By technologies*/
.js {
	background-color: var(--js);
}
.color-js {
	color: var(--js2);
}

.py {
	background-color: var(--py);
}
.color-py {
	color: var(--py);
}

.xd {
	background-color: var(--xd);
}
.color-xd {
	color: var(--xd);
}

.vue {
	background-color: var(--vue);
}
.color-vue {
	color: var(--vue);
}


.html {
	background-color: var(--html);
}
.color-html {
	color: var(--html);
}


.css {
	background-color: var(--css);
}
.color-css {
	color: var(--css);
}


.ionic {
	background-color: var(--ionic);
}
.color-ionic {
	color: var(--ionic);
}


.angular {
	background-color: var(--angular);
}
.color-angular {
	color: var(--angular);
}
.nginx {
	background-color: var(--nginx);
}
.color-nginx {
	color: var(--nginx);
}

.flask {
	background-color: var(--flask);
}
.flask img {
	filter: drop-shadow(5px 3px 10px rgba(85, 85, 85, 0.431));
}
.color-flask {
	color: var(--flask);
}

.postgre {
	background-color: var(--postgre);
}
.color-postgre {
	color: var(--postgre);
}

.node {
	background-color: var(--node);
}
.node img{
	filter: brightness(600%);
}
.color-node {
	color: var(--node);
}


/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------------Responsive-------------------------------------------*/

/*Laptop M*/
@media screen and (max-width: 1200px) {
	.row > div {
		margin-top: 6rem;
	}

	#project h2{
		margin-bottom: 0;
	}

}

/*---Laptop S---*/
@media screen and (max-width: 1000px) 
{
	#portfolio {
		height: 75%;
	}
	#portfolio h1{
		display: none;
	}

	#sidePanel {
		width: 100%;
		height: 75vh;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;

	}

	#sidePanel div:first-of-type{
		height: auto;
		margin-bottom: 1rem;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}
	.name {
		font-size: 20vw;
		text-indent: 0;
		background-color: transparent;
		color: white;
	}

	.name:first-of-type {
		padding-top: 0;
	}

	#sidePanel div:last-of-type {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		height: auto;
		background-color: transparent;
		color: white;
	}
	#sidePanel img {
		display: none;
	}

	#sidePanel p {
		font-size: .8rem;
		margin: 0 0 1rem .5rem;
	}
	dialog{
		top: 0;
		left: 0;
		width: 100vw;
		min-height: 100vh;
		max-width: 100vw;
		transform: none;
		border-radius: 0px;
	}
	.more img.activate {
		width: 50%;
		height: 18%;
		top: initial;
		right: 25%;
		left: initial;
	}
	
	main > section:first-of-type {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin-bottom: 0;
	}

	.main-img {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.main-img img {
		width: 100%;
		margin-bottom: 2rem;
		margin-right: 0;
	}
	.info > p {
		margin-top: 0;
	}
	.info h2 {
		margin-bottom: 2px;
	}
	.used img {
		width: 70px;
	}
	.used p {
		font-size: .66rem;
	}
	.more img {
		width: 100px;
		margin: 1rem .5rem 0 .5rem;
	}
}



/*-----Mobile Large-----*/
@media screen and (max-width: 600px) 
{
	.social-head {
		bottom: 5rem;
	}
	#scroll img{
		display: none;
	}
	.projectContainer .visual >img {
		width: 78vw;
		border-radius: 10px;
	}	
	.projectContainer h3 {
		font-size: 1.2rem;
	}
	#contact input {
		min-width: 50vw;
	}
	#skills h2, #project h2 {
		font-size: 2rem;
	}
	.info > p {
		font-size: .7rem;
		max-height: 150px;
		overflow-y: scroll;
	}
	.info h2 {
		font-size: .6rem;
	}
	.info h3 {
		font-size: 1.5rem;
	}
	.info b {
		font-size: .7rem;
	}
	.used {
		margin: 0 .3rem;
	}
	.used img {
		width: 40px;
	}
	.more img {
		width: 25%;
		height: 14%;
	}
	#contact h2 {
		font-size: 1.8rem;
	}
	#contact > div {
		height: 32px;
	}
	#contact input, #contact button, #contact .copy{
		font-size: .7rem;
	}
	#contact img {
		width: 12px;
	}
	footer {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	#social {
		margin-bottom: 2rem;
	}
}

#article {

}
.card-article {
	background-color: var(--footer-gray);
	display: flex;
	padding: 1rem;
	border-radius: 5px;
	padding-right: 1rem;
}
.card-article img {
	width: auto;
	height: 15rem;
	margin-right: 2rem;
	border-radius: 5px;
	aspect-ratio: 16 / 9;
}
.card-article h3 {
	font-weight: bold;
	font-size: 1.4rem;
	margin-top: 1rem;
}
.card-article p {
	/* font-size: 1.2rem; */
	margin-top: 1rem;
}

@media (max-width: 900px) {
	.card-article {
		flex-direction: column;
	}
	.card-article img {
		height: auto;
		width: 100%;
		margin-left: 0;
	}
}
/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------------Animation-------------------------------------------*/



@-webkit-keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}



@keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}