:root{
	--white: #FFFFFF;
	--light-gray: #E8E8E8;
	--font-smooth: #707070;
	--button-color: #BBBBBB;
	--title-font: #2B2B2B;
	--body-font: #2B2B2B;
	--footer-gray: #DFDFDF;

	/*Tehno colors*/
	--js: #F7DF1E;
	--xd: #FF26BE;
	--py: #2D689B;
	--c: #00599D;
	--html: #FF6C39;
	--css: #71B2DE;
	--angular: #DD0031;
	--ionic: #4689FE;

	/*Shadow*/
	--shadow: 2px 4px 15px 2px rgba(126, 126, 126, 0.2);
}


@font-face {
    font-family: 'larsseit';
    src: url('font/larsseit-webfont.woff2') format('woff2'),
         url('font/larsseit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'larsseit';
    src: url('font/larsseit_bold_bold-webfont.woff2') format('woff2'),
         url('font/larsseit_bold_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	font-family: 'larsseit', sans-serif;
	background-color: var(--white);

	width: 100%;
}

a{
	color: var(--body-font);
	text-decoration: none;
}

#cover {
	height: 100vh;
	margin-bottom: 15rem;
}

#portfolio {
	height: 85%;
	background: url('img/bg-img.png') no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
}

#portfolio h1 {
	color: var(--white);
	font-size: 3rem;
	position: absolute;
	top: 8vh;
	left: 5vw;
}

#sidePanel {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#sidePanel div:first-of-type {
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.name {
	font-size: 10vw;
	mix-blend-mode: screen;
	background-color: var(--white);
	display: flex;
	align-items: flex-end;
	text-indent: -20px;
}

.name:first-of-type {
	padding-top: 100%;
}

#sidePanel div:last-of-type {
	display: flex;
	align-items: center;
	background-color: var(--white);
	height: 30%;
}
#sidePanel img{
	width: 100px;
	margin-left:4vw;
	margin-right: 2rem;
}

#sidePanel p {
	margin-left: 20px;
}

#scroll {
	height: 15%;
	background-color: var(--light-gray);
	display: flex;
	justify-content: center;
	align-items: center;
}

#scroll img {
	width: 25px;
}




#skills h2, #project h2 {
	font-size: 3rem;
	color: var(--title-font);
	margin-bottom: 4rem;
}

#skills, #project {
	margin-bottom: 11rem;
	padding-left: 10vw;
	padding-right: 10vw;
}

#skills section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.skillContainer {
	background-color: var(--light-gray);
	margin: 40px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 1.5rem;
	border-radius: 25px;
}

.skillContainer p {
	font-size: 1.4rem;
	font-weight: bold;
	color: var(--white);
	margin: 1rem 0;
}


#project {
	display: flex;
	flex-direction: column;
}

#project .row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.row > div:last-of-type {
	margin-top: 6rem;
}

.projectContainer > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.projectContainer > img{
	border-radius: 15px;
	box-shadow: var(--shadow);
	margin-bottom: 20px;
}

.projectContainer h3{
	font-size: 2rem;
}


.projectContainer b{
	opacity: .4;
	font-size: .9rem;
}

.projectContainer a{
	display: flex;
	align-items: center;
}

.projectContainer a img{
	margin-left: 10px;
}

#contact {
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--light-gray);
}

#contact h2 {
	color: var(--font-smooth);
	font-size: 2.3rem;
}

#contact div {
	height: 40px;
	display: flex;
	align-items: center;
	margin-top: 2rem;
}

#contact input {
	border: none;
	height: 100%;
	min-width: 280px;
	border-radius: 5px 0 0 5px;
	padding-left: 10px;
	font-size: 1.1rem;
	outline: none;
	color: var(--font-smooth);
}

#contact button {
	border: none;
	height: 100%;
	width: 40px;	
	background-color: var(--button-color);
	border-radius: 0 5px 5px 0;
}

#contact img {
	margin-top: 2px;
	width: 16px;
}


footer {
	display: flex;
	justify-content: space-between;
	background-color: var(--footer-gray);
	padding: 2rem 3rem;
}

footer div, footer a {
	display: flex;
	align-items: center;
}

#social img {
	margin: 0 1rem;
}

footer > div:last-of-type p{
	margin-right: 10px;
	color: var(--title-font);
}


/*Colors By technologies*/
.js {
	background-color: var(--js);
}

.py {
	background-color: var(--py);
}

.xd {
	background-color: var(--xd);
}

.c {
	background-color: var(--c);
}

.html {
	background-color: var(--html);
}

.css {
	background-color: var(--css);
}

.ionic {
	background-color: var(--ionic);
}

.angular {
	background-color: var(--angular);
}



/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------------Responsive-------------------------------------------*/

/*Laptop M*/
@media screen and (max-width: 1200px) {
	
}

/*---Laptop S---*/
@media screen and (max-width: 1000px) 
{

}


/*---Tablet----*/
@media screen and (max-width: 800px) 
{
	
}

/*-----Mobile Large-----*/
@media screen and (max-width: 500px) 
{
		
}

/*---Mobile Medium-----*/
@media screen and (max-width: 400px) {
		
}


/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------------Animation-------------------------------------------*/