:root{
	--white: #FFFFFF;
	--light-gray: #E8E8E8;
	--font-smooth: #707070;
	--button-color: #BBBBBB;
	--title-font: #2B2B2B;
	--body-font: #2B2B2B;
	--footer-gray: #DFDFDF;

	/*Tehno colors*/
	--js: #F7DF1E;
	--xd: #FF26BE;
	--py: #2D689B;
	--c: #00599D;
	--html: #FF6C39;
	--css: #71B2DE;
	--angular: #DD0031;
	--ionic: #4689FE;
}


@font-face {
    font-family: 'larsseit';
    src: url('font/larsseit-webfont.woff2') format('woff2'),
         url('font/larsseit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'larsseit';
    src: url('font/larsseit_bold_bold-webfont.woff2') format('woff2'),
         url('font/larsseit_bold_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	font-family: 'larsseit', sans-serif;
	background-color: var(--white);

	width: 100%;
}

a{
	color: var(--body-font);
	text-decoration: none;
}

#cover {
	height: 100vh;
}

#portfolio {
	height: 85%;
	background: url('img/bg-img.png') no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
}

#portfolio h1 {
	color: var(--white);
	font-size: 3rem;
	position: absolute;
	top: 4vh;
	left: 4vw;
}

#sidePanel {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#sidePanel div:first-of-type {
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.name {
	font-size: 10rem;
	mix-blend-mode: screen;
	background-color: var(--white);
	display: flex;
	align-items: flex-end;
	text-indent: -20px;
}

.name:first-of-type {
	padding-top: 50%;
}

#sidePanel div:last-of-type {
	display: flex;
	align-items: center;
	background-color: var(--white);
	height: 30%;
}
#sidePanel img{
	width: 100px;
}

#sidePanel p {
	margin-left: 20px;
}

#scroll {
	height: 15%;
	background-color: var(--light-gray);
	display: flex;
	justify-content: center;
	align-items: center;
}

#scroll img {
	width: 25px;
}


























/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------------Responsive-------------------------------------------*/

/*Laptop M*/
@media screen and (max-width: 1200px) {
	
}

/*---Laptop S---*/
@media screen and (max-width: 1000px) 
{

}


/*---Tablet----*/
@media screen and (max-width: 800px) 
{
	
}

/*-----Mobile Large-----*/
@media screen and (max-width: 500px) 
{
		
}

/*---Mobile Medium-----*/
@media screen and (max-width: 400px) {
		
}


/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------------Animation-------------------------------------------*/